<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

	<link rel="stylesheet" href="../../public/Assets/CSS/burger_style.css" type="text/css" />
	<title>Eat Da Burger!</title>
</head>

<body>
	<img src="../../public/Assets/Images/hamburger-31775_1280.png" width="400px" id="burger">

	{{{ body }}}

</body>
</html>